<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="css/styles-merged.css">
    <link rel="stylesheet" href="css/style.min.css">
    <link rel="stylesheet" href="css/custom.css">

    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.min.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    
      <nav class="navbar navbar-default probootstrap-navbar">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html" title="uiCookies:Enlight">Enlight</a>
          </div>

          <div id="navbar-collapse" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="index.html">Home</a></li>
              <li><a href="about.html">About Us</a></li>
              <li><a href="news.html">News</a></li>
              <li><a href="causes.html">Causes</a></li>
              <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Pages</a>
                <ul class="dropdown-menu">
                  <li></li>
                  <li><a href="testimonial.html">Testimonial</a></li>
                  <li class="active"><a href="cause-single.html">Cause Single</a></li>
                  <li></li>
                  <li class="dropdown-submenu dropdown">
<ul class="dropdown-menu">
                <li><a href="#">Second Level Menu</a></li>
                      <li><a href="#">Second Level Menu</a></li>
                      <li><a href="#">Second Level Menu</a></li>
                      <li><a href="#">Second Level Menu</a></li>
                    </ul>
                  </li>
                  <li></li>
                  <li></li>
                </ul>
              </li>
              
              <li class="probootstra-cta-button last"><a href="donate.html" class="btn btn-primary">Donate</a></li>
            </ul>
          </div>
        </div>
      </nav>
      
      <section class="probootstrap-hero probootstrap-hero-inner" style="background-image: url(img/hero_bg_bw_1.jpg)"  data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="probootstrap-slider-text probootstrap-animate" data-animate-effect="fadeIn">
                <h1 class="probootstrap-heading probootstrap-animate">Help Children To Get Food <span>Together we can make a difference</span></h1>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="probootstrap-section">
        <div class="container">
          <div class="row probootstrap-gutter60">

            <div class="col-md-4 col-sm-4 probootstrap-animate" data-animate-effect="fadeIn">
              <div class="probootstrap-image-text-block probootstrap-cause">
                <figure>
                  <img src="img/img_sm_1.jpg" alt="Free Bootstrap Template " class="img-responsive">
                </figure>
                <div class="probootstrap-cause-inner">
                  <div class="progress">
                    <div class="progress-bar progress-bar-s2" data-percent="99"></div>
                  </div>

                  <div class="row mb30">
                    <div class="col-md-6 col-sm-6 col-xs-6 probootstrap-raised">Raised: <span class="money">$49,112</span></div>
                    <div class="col-md-6 col-sm-6 col-xs-6 probootstrap-goal">Goal: <span class="money">$50,000</span></div>
                  </div>
                  
                  <h2><a href="#">Help Children To Get Food</a></h2>
                  <div class="probootstrap-date"><i class="icon-calendar"></i> 2 hours remaining</div>  
                  
                  <p><a href="#" class="btn btn-primary btn-black">Donate Now!</a></p>
                </div>
              </div>
            </div>

            <div class="col-md-8 col-sm-8 probootstrap-animate">
              <h2>Help Children To Get Food</h2>
              <p>Food is in great need a growing of world population.Although we don't worry about eating every day, many people in the world are starving. About 800 million people worldwide suffer from malnutrition, which is considered the world's greatest health risk., but other developed countries, including the United States, also struggle with poverty. About 50 million people live in poverty, up from 1 percent in 2014. the reason is Pollution, overpopulation, the global climate and other factors, for example ，due to overpopulation, the lack of food and economic supply, resulting in poor people starving.<br>
              </p>
              <p>The main cause of hunger in the world is poverty. Millions of people around the world are too poor to buy food. They lack the resources to grow food, arable land or the tools to harvest, process and store it. There are many causes of poverty, and they exacerbate the problem of world hunger. Wars and conflicts around the world, national wars, national civil wars, terrorism and other acts of violence can displace millions of people and drive people towards poverty and hunger.</p>
              <div class="row">
                <div class="col-md-6">
                  <p><a href="img/img_sq_6.jpg" class="image-popup"><img src="img/img_sq_6.jpg" alt="Free Bootstrap Template " class="img-responsive"></a></p>
                </div>
                <div class="col-md-6">
                  <p><a href="img/img_sq_6.jpg" class="image-popup"><img src="img/img_sq_5.jpg" alt="Free Bootstrap Template " class="img-responsive"></a></p>
                </div>
              </div>
              <p>Global hunger has worsened in recent years, mainly due to conflicts and droughts related to climate change, the United Nations said in a report released Thursday. The United Nations released the 2018 Sustainable Development Goals Report on the same day, assessing progress in the implementation of the 17 Sustainable Development Goals covered by the 2030 Agenda for Sustainable Development. The report says global hunger has worsened in recent years, after a long period of relief. The number of undernourished people in the world rose from 777m in 2015 to 815m in 2016, or from 10.6% to 11% of the global population, the report said. The main reasons for this change include conflicts and disasters such as drought, which are related to climate change.</p>
              <p>Globally, 151 million children under the age of five were stunted in 2017, while another 51 million were stunted and 38 million were overweight, the report said. In his foreword to the report, U.N. Secretary-General Antonio Guterres said 2030, the date for achieving the Sustainable Development Agenda, is just 12 years away, and called for "a sense of urgency" to be added to moving the agenda forward.</p>
              <div class="row">
                <div class="col-md-6">
                  <p><a href="img/img_sq_6.jpg" class="image-popup"><img src="img/img_sq_2.jpg" alt="Free Bootstrap Template " class="img-responsive"></a></p>
                </div>
                <div class="col-md-6">
                  <p><a href="img/img_sq_6.jpg" class="image-popup"><img src="img/img_sq_3.jpg" alt="Free Bootstrap Template " class="img-responsive"></a></p>
                </div>
              </div>
              <p> In September 2015, the 2030 Agenda for Sustainable Development was adopted at the UN Development Summit. The agenda includes 17 Sustainable Development Goals, which focus on poverty and hunger eradication, equity and justice, and the promotion of sustainable development.</p>
              <p>Therefore, we are also willing to contribute to helping the hungry refugees and children. As the&nbsp; saying goes, Gifts of roses, hand there are lingering fragrance.. If you are willing to contribute to this cause, please join us or make a donation.We will extend to you our most sincere thanks</p>
              <p><a href="#" class="btn btn-black btn-lg">Donate Now</a></p>

            </div>

          </div>
        </div>
      </section>

      <section class="probootstrap-section probootstrap-bg probootstrap-section-dark">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center section-heading probootstrap-animate" data-animate-effect="fadeIn">
              <h2>People Who Donates For This Cause</h2>
</div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="probootstrap-donors text-center probootstrap-animate">
                <figure class="media">
                  <img src="img/person_6.jpg" alt="Free Bootstrap Template " class="img-responsive">
                </figure>
                <div class="text">
                  <h3>Zengzuo</h3>
                  <p class="donated">Donated <span class="money">$500.00</span></p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="probootstrap-donors text-center probootstrap-animate">
                <figure class="media">
                  <img src="img/person_1.jpg" alt="Free Bootstrap Template " class="img-responsive">
                </figure>
                <div class="text">
                  <h3>Huangzilin</h3>
                  <p class="donated">Donated <span class="money">$1,500.00</span></p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="probootstrap-donors text-center probootstrap-animate">
                <figure class="media">
                  <img src="img/person_5.jpg" alt="Free Bootstrap Template " class="img-responsive">
                </figure>
                <div class="text">
                  <h3>Xuhang</h3>
                  <p class="donated">Donated <span class="money">$250.00</span></p>
                </div>
              </div>
            </div>
            <div class="col-md-3">

              <div class="probootstrap-donors text-center probootstrap-animate">
                <figure class="media">
                  <img src="img/person_7.jpg" alt="Free Bootstrap Template " class="img-responsive">
                </figure>
                <div class="text">
                  <h3>Wangzimin</h3>
                  <p class="donated">Donated <span class="money">$400.00</span></p>
                </div>
              </div>  

            </div>
          </div>
        </div>
      </section>

      

      <footer class="probootstrap-footer probootstrap-bg">
        <div class="container">
          <div class="row">
            <div class="col-md-4 probootstrap-animate">
              <div class="probootstrap-footer-widget">
                <h3>About Us</h3>
                <p> We are a non-profit public welfare website. We will donate all the money to the relevant departments.</p>
              </div>
            </div>
           
            <div class="col-md-4 probootstrap-animate">
              <div class="probootstrap-footer-widget">
                <h3>Contact Info</h3>
                <ul class="probootstrap-contact-info">
                  <li><em class="icon-location2"></em> <span>Wuhan University of Science and Technology</span></li>
                  <li><em class="icon-mail"></em><span>wust.donate.com</span></li>
                  <li><i class="icon-phone2"></i><span>+123 456 7890</span></li>
                </ul>
                
              </div>
            </div>

            <div class="col-md-4 probootstrap-animate">
              <div class="probootstrap-footer-widget">
<p><a href="#" class="btn btn-primary">Donate Now</a></p>
              </div>
            </div>
           
          </div>
          <!-- END row -->
          
        </div>

        <div class="probootstrap-copyright">
          <div class="container">
            <div class="row">
              <div class="col-md-8 text-left"> </div>
              <div class="col-md-4 probootstrap-back-to-top">
                <p><a href="#" class="js-backtotop">Back to top <i class="icon-arrow-long-up"></i></a></p>
              </div>
            </div>
          </div>
        </div>
      </footer>

    <script src="js/scripts.min.js"></script>
    <script src="js/main.min.js"></script>
    <script src="js/custom.js"></script>

  </body>
</html>